<html>
<head>
    <header>
        <img height="80px" src="~/Imagenes/Logo.jpeg">
        <h2 class="titulo">Tarea 1</h2>
    </header>
    <title>Tarea 1</title>
    <link href="~/Estilos.css" rel="stylesheet">
</head>
<body>
    <h1>Tarea 1 Unidad 1</h1>
    <h3>Programacion Web</h3>
    <h3>Semestre 7</h3>
    <h3>Agosto-Diciembre</h3>
    <h3>Roberto Roquebed Gonzalez Olivares</h3>
    <a href="~/Home/MiPerfil.html" target="_blank">Mi perfil</a>
</body>
<footer>
</footer>
</html>

