<html>
<head>
    <header>
        <img height="80px" src="~/Home/Imagenes/Logo.jpeg">
        <h2 class="titulo">Perfil</h2>
    </header>
    <title>Mi perfil</title>
    <link href="~/Estilos.css" rel="stylesheet">
</head>
<body>
    <img src="~/Imagenes/Imagen.jpeg">
    <h4>Nombre: Roberto Roquebed Gonzalez Olivares</h4>
    <h4>Carrera: Ingenieria en sistemas computacionales</h4>
    <h4>Semestre: 7</h4>
    <h4>Espercialidad: Internet de las cosas</h4>
    <h4>Creditos: 150</h4>
    <h4>Corréo electrónico: robertozpolivares@gmail.com</h4>
</body>
<footer>
</footer>
</html>

